node-red-flow.json
[
    {
        "id": "91d7f7618aa1eb18",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d64c6eef3116be9e",
        "type": "inject",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "38503341f61b8a0d"
            ]
        ]
    },
    {
        "id": "38503341f61b8a0d",
        "type": "function",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "func": "\nmsg.payload={\n    \"location\": \"Depo A\",\n        \"temperature\": \"36\",\n            \"humidity\": \"65\",\n                \"heatIndex\": \"32\",\n                    \"workerId\": 0,\n                        \"productId\": 0,\n                            \"totalQuantity\": 45,\n                                \"flag\": true\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "781856efdd7fae2e"
            ]
        ]
    },
    {
        "id": "a55deb3c625a2826",
        "type": "debug",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "781856efdd7fae2e",
        "type": "http request",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/product/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 640,
        "wires": [
            [
                "a55deb3c625a2826"
            ]
        ]
    },
    {
        "id": "785e3d3d7b91f3a7",
        "type": "serial in",
        "z": "91d7f7618aa1eb18",
        "name": "COM9",
        "serial": "7453dab74c197398",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "08ba717118380805"
            ]
        ]
    },
    {
        "id": "f0477de58810a018",
        "type": "ui_gauge",
        "z": "91d7f7618aa1eb18",
        "name": "Temperature",
        "group": "d5da3e9b.46abf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload.temperature}} ",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "ef2a2fc37418347a",
        "type": "ui_gauge",
        "z": "91d7f7618aa1eb18",
        "name": "Humidity",
        "group": "d5da3e9b.46abf",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "75",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "08ba717118380805",
        "type": "function",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "func": "\nconst temp= parseInt(msg.payload.slice(32,38));\nconst humid= parseInt(msg.payload.slice(11,16));\nconst heat= parseInt(msg.payload.slice(59,65));\n\nmsg.payload={\n   \"temperature\":temp,\n   \"humidity\":humid,\n   \"heatIndex\":heat,   \n   \"productId\":1\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 540,
        "wires": [
            [
                "f0477de58810a018",
                "ef2a2fc37418347a",
                "61eb4234077befd7",
                "e928d15b5f2e1997"
            ]
        ]
    },
    {
        "id": "61eb4234077befd7",
        "type": "ui_gauge",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "group": "d5da3e9b.46abf",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Heat Index",
        "label": "°C",
        "format": "{{msg.payload.heatIndex}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "40",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "e928d15b5f2e1997",
        "type": "http request",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/product/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "55da0f7e08251885"
            ]
        ]
    },
    {
        "id": "55da0f7e08251885",
        "type": "debug",
        "z": "91d7f7618aa1eb18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "7453dab74c197398",
        "type": "serial-port",
        "serialport": "COM9",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d5da3e9b.46abf",
        "type": "ui_group",
        "name": "DHT11",
        "tab": "784aac14.5c2404",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "784aac14.5c2404",
        "type": "ui_tab",
        "name": "Station",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]